[submodule "pollackscience.github.io"]
	path = pollackscience.github.io
	url = https://github.com/pollackscience/pollackscience.github.io.git
[submodule "output"]
	path = output
	url = https://github.com/pollackscience/pollackscience.github.io.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
